.flightList {
	border:1px solid #ddd;
	padding:10px;
	width: 600px;
}
.flight {
	padding: 5px;
	overflow: hidden;
}
.flight:hover{
	background: #ddd;
}

.flight .ca {
	width:24px;
	height:24px;
	float:left;
}
.flight .ca img {
	vertical-align: middle;
}

.flight .co {
	float:left;
	width:200px;
}
.flight .time {
	float:left;
	width:100px;
}
.flight .price {
	float:left;
	width:200px;
	color: #f08;
	font-family: Arial;

}
